files:
  "/etc/nginx/conf.d/static_files.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      location /static/ {
        alias /home/jeison/dev/py/coffee_shop/staticfiles/;
        expires 30d;
        add_header Content-Type text/css;
      }

option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: coffee_shop.wsgi:application

